﻿
/* =============================================================
   GENERAL STYLES
   ============================================================ */
   body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
  }

  .head-line {    
    font-size: 48px;
    color: #000;
    padding-bottom: 60px;
    text-transform: uppercase;
    font-weight: 800
  }
  .head-line span {
    color:#000;
  }
  .black-btn {
    background-color: #000000;
    border-color: #b59292;;
  }
  .black-btn:hover {
    background-color: #000000;
    border-color: #FF0000;
  }
/* =============================================================
   NAVBAR STYLES
   =========================================================== */

   .navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;
  }
  .navbar-default .navbar-nav > li > a {
    color: #dd2420;
    font-size: 17px;
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: #000;
    background-color: transparent;
    border: 0;
  }
  .navbar-inverse {
    background-color: #0E0E0E;
    border-top: 1px solid #000;
  }

  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#f00;
  }
  .navbar-inverse .navbar-nav > li > a {
    color:#fff;
    font-size:16px;
    padding:30px 20px;
  }
  .navbar-toggle {
    margin-bottom: 30px;
  }
  #nav-wrapper {
    left: 0;
    width: 100%;
    z-index: 999;
    top:0px;
    position: fixed;
    background-color: #e5e5e5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #000;
    min-height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @media(max-width: 768px){
    #nav-wrapper{
      display: block;
    }
  }
/* =============================================================
   HOME/VEDIO SECTION STYLES
   ============================================================ */
   #home-sec {
    height:400px;
    color:#fff;
    text-align:center;
    border-bottom:4px solid #000;
  }
    #home-sec .overlay {/*
      background-color:rgba(0, 0, 0, 0.8);*/
      min-height:400px;
    }
    #home-sec h1 {
      padding-top:80px;
      font-size:50px;
      font-weight:900;
      padding-bottom:30px;
    }
    #home-sec h1 i {
      color:#f00;
    }
/* =============================================================
   SERVICES SECTION STYLES
   ============================================================ */
   .txt-block {
    padding-bottom:30px;
  }


/* =============================================================
   JUST TEXT SECTION STYLES
   ============================================================ */
   #Just-text {
    background-color:#000;
  }
  .mid-txt {
    padding-top:40px;
    padding-bottom:40px;
    font-size:30px;
    font-weight:900;
    color:#fff;
  }



/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
   =====================================================*/
   ul#filters {
     padding: 0px;
   }
   #filters {
     margin: 3% 0;
     padding: 0;
     list-style: none;
     text-align: center;
   }
   #filters li {
    display: -webkit-inline-box;
  }
  #filters li span {
    display: block;
    padding: 5px 4px;
    text-decoration: none;
    color: #d51111;
    cursor: pointer;
    font-size: 18px;
  }
  #port-folio .portfolio-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;		
    float:left;
    overflow:hidden;
    display:none;
  }
/* =============================================================
   PRICE SECTION STYLES
   ============================================================ */

   #price-sec {
    background-color:#e1e1e1;
  }

  .price-div {
    background-color:#fff;
    padding:20px;
    margin:5px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  .price-cls {
    font-size:60px;
    font-weight:900;
    color:#f00;
    padding-right:20px;
  }

  #price-sec .media-heading {
    padding-top:20px;
  }
/* =============================================================
   CONTACT SECTION STYLES
   ============================================================ */
   #contact-sec {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    color:#fff;
    border-top: 3px solid #dd2438;
  }
  #contact-sec .overlay {
    background-color:#000;

  }
  
  #contact-sec .social a {
    font-size:20px; 
    padding:10px 30px;
    text-decoration:none;
    color:#fff;
    display:block;
    max-width:200px;
    margin-bottom:20px;
  }
  #contact-sec .subscribe {
    color:#fff;
    height:100%;
  }

  #contact-sec h2 {
    font-weight:700;
    color:#fff;
    font-size: 24px;
  }
  #contact-sec h4, #contact-sec p{
    font-size: 16px;
  }
  #contact-sec .black-btn{
    margin-top: 20px;
  }

  .vfx{
   margin-top: 40px;
   margin-bottom: 30px;
 }
 .animation{
   margin-bottom: 30px;
 }

 /*home sidebar*/
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #00000080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #dd2420;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.side-menu{
  font-size:35px;
  cursor:pointer;
  color: #fff;
  background-color: #dd2420;
  padding: 0 10px;
}

.navbar-default{
  background-color: transparent;
}
.home-logo{
  height: 70px;
  margin-top: -25px;
}
@media(max-width: 768px){
  .home-logo{
    margin-top: -8px;
  }
}
#home-sec{
  margin-top: 80px;
}
/*/home sidebar*/


.vid{
  margin-top: 450px;
  letter-spacing: 2px;
}

#about{
  margin-top: 83px;
}
#about hr{
  margin: 0 auto;
  width: 185px;
  border-top: 3px solid #050000;
}
#about1{
  background-image: url('../img/about1.jpg');
  height: 200px;
  background-attachment: fixed;
  background-size: contain; 
  margin-top: 83px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#ab{
  color: #dd2420;
  font-weight: 600;
  font-size: 45px;
  text-shadow: 2px 1px #000;
  text-align: center;
}
#ab1{
  color: #000;
  text-align: center;
  font-weight: 400px;
  font-size: 60px;
  text-shadow: 3px 3px grey;
}

.active{
  color: red;
}


/* services */
.w3-services {
  padding: 5% 0px;
  background-color: #614444;
  color: white;
}
.w3-services h3.center {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 600;
}
.service h4 {
  text-transform: capitalize;
  margin-top: 15px;
  font-weight: bold;
}
.txt-align {
  text-align: right;
}
.txt-align p, .txt-align1 p {
  margin-top: 10px;

}
.service1 {
  margin-bottom: 110px;
}
.service1 .col-md-4 {
  text-align: right;
}
.service2 {
  margin-top: 120px;
  margin-left: -115px;
}
span.service-icon.fa {
  border: 2px dashed white;
  border-radius: 50%;
  padding: 40px;
}
span.service-icon.fa:hover {
  background-color: darkred;
  border-style:dotted;
}
span.service-icon.fa.fa-bicycle.fa-4x, span.service-icon.fa.fa-graduation-cap.fa-4x {
  padding: 40px 35px;
}
/* //servoces */


/* Stats */
.agile-stats {
  padding: 5% 0px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  background: url('../images/stats.jpg') no-repeat;
  background-size: cover;
}
.agile-stats h3.center {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 600;
}
.agile-stats .container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.stats1, .stats2 {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  -webkit-justify-content: center;
  justify-content: center;
}
.w3-stats {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  text-align: center;
  /* justify-content: flex-end; */
}
.w3-stats span.fa {
  border: 1px solid white;
  padding: 40px;
  font-size: 40px;
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.w3-stats span.fa:hover {
  border-color: yellow;
  background-color: yellow;
  color: black;
}
.w3-stats h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.w3-stats p {
  font-size: 20px;
  text-transform: uppercase;
  color: #00ffe9;
}


/*---------------------------------------
   Trainer section              
   -----------------------------------------*/
   
   #trainer {
    background: #333;
    display: none;
    padding: 40px 0;
  }

  #trainer h3 {
    letter-spacing: 1px;
    margin-top: 0px;
    padding-bottom: 12px;
  }

  #trainer img {
    width: 100%;
  }

  #trainer .trainer-thumb {
    position: relative;
    margin-top: 72px;
    margin-bottom: 32px;
    padding: 0px;
  }

  #trainer .trainer-thumb .trainer-overlay {
    background: #26253a;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: all 0.4s ease-in-out;
  }

  #trainer .trainer-thumb:hover .trainer-overlay {
    opacity: 0.9;
    transform: scale(0.9);
  }

  #trainer .trainer-thumb .trainer-overlay h2 {
    padding-bottom: 0px;
  }

  #trainer .trainer-thumb .trainer-des {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }

  #trainer .trainer-thumb .trainer-overlay {
    background: #26253a;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: all 0.4s ease-in-out;
  }

  .social-icon li a {
    color: #999;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
  }
  #services-sec{
    padding: 25px 0;
  }
  #services-sec p, .about-choose p{
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 1.6;
    padding: 10px 0;
    text-align: justify;
    color: #999;
  }
  #services-sec h1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #dd2420;
  }
  .row{
    margin-right: 0;
    margin-left: 0;
  }
  .about-choose{
    padding: 40px 0;
  }
  .about-choose h1{
    margin: 0 0 30px;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    /*font-family: 'Lobster', cursive;*/
  }
  .about-choose h4{
   margin: 0;
   color: #000;
   text-align: center;
   font-weight: 600;
   font-size: 16px;
 }
 .about-choose-mid{
  border-bottom: 2px solid #000;
  border-radius: 5px;
  background-color: #f5f5f566;
  padding: 1px 15px 0;
  margin: 10px 0;
}
.about-fa .fa{
 width: 70px;
 height: 70px;
 text-align: center;
 background-color: #dd2420;
 display: flex;
 align-items: center;
 justify-content: space-around;
 font-size: 22px;
 margin: 0 auto;
 color: #fff;
}
.about-choose-mid:hover .about-fa .fa{
  background: #fff;
  border: 2px solid #000;
  color: #dd2420;
  font-size: 28px;
}
.about-fa{
  margin: 20px 0;
}
.about-choose hr{
  width: 100px;
  margin: 0 auto;
  border-top: 3px solid #777;
}
.about-sec2{
  padding: 40px 0;
  background-image: url('../img/about1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  /*z-index: -9999;*/
  color: #fff;
}
.about-sec2-mid{
  background-color: #0000004d;
  padding: 10px;
  margin: 10px 0;
  transition: transform 1s;
}
.about-sec2-mid:hover{
  transform: translate(0px,-20px);
}
.about-sec2-mid h1{
  margin: 0 0 20px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.about-sec2-mid p{
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  padding: 0 0 10px;
  text-align: justify;
  color: #fff;
  display: block;
}
.about-work{
  padding: 40px 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-color: #99999980;
}

.about-work h1{
  margin: 0 0 30px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  /*font-family: 'Lobster', cursive;*/
}
.about-work hr{
  width: 100px;
  margin: 0 auto;
  border-top: 3px solid #fff;
}
.about-work ul {
  margin: 10px 0;
  list-style: none;
}
.about-work ul li{
  padding: 10px 0;
}
.about-work-head{
  display: block;
  color: #dd2420;
  font-weight: 600;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}
.about-work-text{   
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  padding: 0 0 10px;
  text-align: justify;
  color: #999;
  display: block;
}

.about-services-img{
  width: 100%;
  height: 370px;
  transition: transform .2s;
  object-fit: cover;
}
.about-services .row:hover .about-services-img{
  transform: scale(0.95);
}
.about-services .col-lg-6{
  padding: 0;
}
.about-services .row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width: 767px){
 .about-services .row{
  display: block;
}
}
.about-services{
  padding: 40px 0;
  background-color: #99999980;
}
.about-services h1{
  margin: 0 0 30px;
  text-align: center;
  /*font-weight: 600;*/
  font-size: 35px;
  color: #fff;  
  /*font-family: 'Lobster', cursive;*/
}
.about-services hr{
  width: 100px;
  margin: 0 auto 20px;
  border-top: 3px solid #777;
}
.about-services-text h4{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.about-services-text hr{
  width: 70px;
  margin: 0 0 20px;
  border-top: 3px solid #dd2420;
}
.about-services-text{
  padding: 0 15px;
}
.about-services-text p{
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  padding: 0 0 10px;
  text-align: justify;
  color: #999;
}

/*/about*/

.projects-sec2{
  padding: 40px 0;
  background-color: #333;
}
.projects-vfx{
  padding: 45px 0;
  background-image: url("../img/vfx2.jpg");;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;    
  border-radius: 10px;
}
.projects-vfx a{
 color: #fff;
 font-size: 60px;
 font-weight: 700;
}
.projects-vfx a:hover{
 color: #dd2420;
 text-decoration: none;
}
.projects-animation{
  padding: 45px 0;
  background-image: url("../img/vfx3.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  border-radius: 10px;
}
.projects-animation a{
 color: #fff;
 font-size: 60px;
 font-weight: 700;
}
.projects-animation a:hover{
 color: #dd2420;
 text-decoration: none;
}
.vfx-gallery{
  padding: 40px 0;
}
.vfx-img{
  display: block;
  width: 100%;
  height: 475px;
  margin: 10px 0;
  object-fit: cover;
  position: relative;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle p{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.vfx-gallery .col-lg-4:hover .vfx-img {
  opacity: 0.5;
}

.vfx-gallery .col-lg-4:hover .middle {
  opacity: 1;
  background-color: transparent;
}

.text {
  background-color: #dd2420;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.nav-tabs{
  margin: 10px 0 20px;
  border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

  line-height: 1.42857143;
  border: 1px solid #e93126;
  border-radius: 4px;
  font-size: 20px;
  color: #e93126;
  background-color: #000;
}
.nav > li > a:hover, .nav > li > a:focus{
 color: #000;
 cursor: default;
 background-color: #e83120;
 border: 1px solid #e83120;
 border-radius: 4px;
}
.nav-tabs > li > a {
  color: #000;
  cursor: default;
  background-color: #e83120;
  border: 1px solid #e83120;
  font-size: 20px;
  margin-right: 23px;
  border-radius: 4px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  margin-top: 7px;
}
.home-main{
  position: relative;
}
.home-nav{
  position: absolute;
  top: 0;
  background-color: transparent !important;
  border: none !important;
}
.home-nav-logo{
  position: absolute !important;
  left: 45% !important;
  margin-top: -8px !important;
} 
.home-nav .navbar-header{
  display: inline-block;
}
.career-text p{
  font-size: 16px;
  color: #999;
  line-height: 1.8;
  letter-spacing: 0.6px;
}
.team-text{
  padding: 40px 0;
}
.team-text h1{
  color: #cf2420;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.team-text h4{
  text-align: center;
  color: #999;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin: 15px 0
}
.team-text p{
  text-align: justify;
  color: #999;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.6px;
}
.trainer-h1{
 color: #cf2420;
 text-align: center;
 font-weight: 600;
 font-size: 45px;
}